 .card {
    display: block;

    * {
        user-select: none;
        pointer-events: none;
    }

    &__container {
        box-sizing: border-box;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        transition: all 1s; /* cut from .card class */
    }
}