$skills_info_maxwidth: 600px; 
$skills_items_margin: rem(16) 0 rem(32);
$skills_items_a_margin: rem(16) rem(16) 0 0;
$skills_items_a_transition: all .3s linear 0s;
$progress_bar_height: rem(6);
$skills_list_items: rem(16) 0;
$skills_tools_padding: rem(24) rem(0) rem(16) rem(0);
$skills_tools_items_marginright: rem(16);

$mobile_skills_info_margin: rem(16) auto;

.skills {

    &__wrapper {
        position: relative;
    }
    &__info {
        max-width: $skills_info_maxwidth; 
    }
    &__items {
        margin: $skills_items_margin;
        background: rgba(10, 25, 47, .5);
        backdrop-filter: blur(20px);
        a {
            margin: $skills_items_a_margin;
            display: inline-block;
            transition: $skills_items_a_transition ;
            &:hover,
            &:focus {
                transform: translateY(-3px);
                cursor: pointer;
            }
        }
    }
    // Panneau descriptif compétences 
    &__details {
        position: absolute;
        top: 0;
        background: $body_background;
        max-width: 100%;
        width: 100%;
        transition: right .2s linear 0s;

        &_content {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem 1rem 1.5rem 11rem !important;
            max-width: 1290px;
        }
        h1 {
            margin: 0 0 1.5rem 0;
            width: max-content;
        }
        h3 {
            padding: 0;
        }
        &_info {
            margin-right: 1rem;
            .btn {
                margin-top: 2rem;
            }
        }
        &_list {
            width: 100%;
            max-width: $skills_info_maxwidth; 

            > div {
                padding: $skills_list_items;
                > .skills__tools {
                    padding: $skills_tools_padding;
                    img {
                        margin-right: $skills_tools_items_marginright;
                    }
                }
            }
        }

        .progress {
            &__container {
                background: $blue_dark;
                border-radius: rem(16);
                }
            &__bar {
                border-radius: rem(16);
                height: $progress_bar_height;
                background: $background-linear-progress;
            }
        }
    }
}

.mobile_mode {
    .skills__details_content {
        margin: 1.5rem !important;
    }
}
.hide {
    right: -2500px;
}

.open {
    position: absolute; // fixed;
    right: 0;
}

@media screen and (max-width: $desktop_min_width) {
    .skills__details {
        &_content {
            flex-direction: column;
            &, h1 {
                max-width: 600px;
                margin: 1.5rem auto;
            }
        }
        &_info {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: $default) {
    .skills {
        align-items: center;
        & > img {
            position: static;
        }
    }
}

